@import './base.css';
@import './modal.css';
@import './input.css';
@import './matcher-found.css';

code.code {
  font-size: 14px;
  line-height: 1.3;
}
pre.code {
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}
.scroll::-webkit-scrollbar-track {
  background: var(--color-border);
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}
.scroll::-webkit-scrollbar:horizontal {
  height: 0;
}

.match-found {
  background-color: var(--color-match-find);
}

.loader-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.h100 {
  height: 100%;
}